* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

.hero {
    width: 100vw;
    height: 20vh;
    background-image: url('../assets/images/careers-locations-hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

h1 {
    color: white;
}

#white-circles {
    position: relative;
    right: calc(-10vw - 33px);
}

main {
    width: 100%;
}

.section2, .section3, .third-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin-top: 15vh;
}

.left-section-text, .right-section-text {
    width: 35vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-section-image, .left-section-image {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imgs2 {
    border-radius: 50%;
    width: 30vw;
}

#circles2 {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 33vw;

}

#arrows2 {
    position: absolute;
    width: 50vw;
    right: -10vw;
    bottom: 0;
}

.section3 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}

.section3-sections-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section31, .section32, .section33 {
    text-align: center;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.top {
    position: relative;
}

.top img {
    border-radius: 50%;
}

.top .icon {
    width: 96px;
    height: 96px;
    background-color: var(--yellow);
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 192px;
    left: 72px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.third-section {
    flex-direction: column;
    gap: 16px;
}

.job-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F2F5F9;
    padding: 36px;
}

.job-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.job-location {
    color: var(--dark-navy);
}

#learn-more {
    height: 50px;
}

#learn-more:hover {
    background-color: var(--yellow);
}

footer {
    margin-top: 15vh;
}