* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

.hero {
    width: 100vw;
    height: 20vh;
    background-image: url('../assets/images/careers-locations-hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

h1 {
    color: white;
}

#white-circles {
    position: relative;
    right: calc(-10vw - 33px);
}

main {
    width: 100%;
}

.section2, .section3, .third-section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin-top: 15vh;
}

.left-section-text, .right-section-text {
    width: 35vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-section-image, .left-section-image {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imgs2 {
    border-radius: 50%;
    width: 30vw;
}

#circles2 {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 33vw;

}

#arrows2 {
    position: absolute;
    width: 50vw;
    right: -10vw;
    bottom: 0;
}

.section3 {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}

.section3-sections-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section31, .section32, .section33 {
    text-align: center;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.top {
    position: relative;
}

.top img {
    border-radius: 50%;
}

.top .icon {
    width: 96px;
    height: 96px;
    background-color: var(--yellow);
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 192px;
    left: 72px;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.third-section {
    flex-direction: column;
    gap: 16px;
}

.job-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F2F5F9;
    padding: 36px;
}

.job-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.job-location {
    color: var(--dark-navy);
}

#learn-more {
    height: 50px;
}

#learn-more:hover {
    background-color: var(--yellow);
}

footer {
    margin-top: 15vh;
}

.tablet-only {
    display: none;
}

.mobile-only {
    display: none;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .desktop-only {
        display: none;
    }

    .tablet-only {
        display: block;
    }

    .desktop-tablet-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }

    .hero.tablet-only {
        position: relative;
    }

    .tablet-only #white-circles {
        position: absolute;
        left: 100%;
        width: max-content;
        top: 50%;
        translate: -90% -45%;
    }

    .tablet-only #white-circles img {
        width: 25vw;
    }

    .tablet-only #hero-title {
        width: max-content;
        position: absolute;
        left: 10vw;
        top: 50%;
        translate: 0 -50%;
        font-size: 3.5rem;
    }

    .section2.tablet-only {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
        padding: 0 10vw;
        gap: 5vh;
    }

    .top-section {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 50px;
    }

    #top-imgs2 {
        border-radius: 50%;
        width: 60vw;
    }

    #top-circles2 {
        width: 60vw;
        position: absolute;
        top: 0;
        right: -65vw;
    }

    #top-arrows2 {
        width: 100vw;
        position: absolute;
        left: -15vw;
        bottom: -5vw;
    }

    .bottom-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }

    .section3 h2 {
        text-align: center;
    }

    .section3-sections-wrapper {
        display: flex;
        width: 80vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        gap: 5vh;
    }

    .section31, .section32, .section33 {
        width: 80vw;
        gap: 10vh;
    }
}

@media (max-width: 600px) {
    .mobile-only {
        display: block;
    }

    .desktop-only, .desktop-tablet-only {
        display: none;
    }

    header.mobile-only {
        background: url('../assets/images/careers-location-hero-mobile.jpg');
        height: 20vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.mobile-only #hero-title {
        font-size: 3rem;
        padding: 0;
    }

    .section2.mobile-only {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
        padding: 0 5vw;
        gap: 3vh;
    }

    .top-section {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 2vh;
    }

    #top-imgs2 {
        border-radius: 50%;
        width: 80vw;
    }

    #top-arrows2 {
        width: 190vw;
        position: absolute;
        left: -15vw;
        bottom: 0;
    }

    .bottom-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }

    .bottom-section h2 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    .section3.mobile-only {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .section3.mobile-only h2 {
        font-size: 2.5rem;
    }

    .section3-sections-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 8vh;
    }

    .section3-sections-wrapper > * {
        width: 100%;
    }
}