* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

.hero {
    display: flex;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-image: url('./assets/images/home-hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative;
}

h1 {
    width: 100%;
    padding-left: 10vw;
}

.hero-title {
    color: white;
}

.hero-design-wrapper {
    width: 100%;
    height: max-content;
}

.hero-design {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: calc(14vw + 50px); */
}

.hero-design .first {
    width: 15%;
    height: 100%;
    position: relative;
}

.hero-design .first img {
    width: 100%;
    position: absolute;
    top: 30px;
}

.hero-design .second {
    display: flex;
    width: 30%;
    height: max-content;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.hero-design .second .description {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    color: white;
}

.hero-design .second .get-scootin {
    top: 50px;
}

.hero-design .third {
    width: 35%;
    height: 100%;
    position: relative;
}

.hero-design .third img {
    width: 100%;
    position: absolute;
    top: 30px;
}

.hero-design .fourth {
    width: 15%;
    height: 100%;
    position: relative;
}

.hero-design .fourth img {
    width: 100%;
    position: absolute;
    top: calc(30px + 6.5vw);
    left: 15%;
}

.hero-design .get-scootin:hover {
    background-color: transparent;
}

main {
    margin-top: 15vh;
    width: 100%;
}

.section1 {
    width: 100%;
}

.hr-icons {
    width: 70%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

hr {
    border: 8px solid var(--light-grey);
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hr-icons .icons {
    position: absolute;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text {
    width: 100%;
    padding: 0 10vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15vh;
    gap: 5vw;
}

.icon-title {
    color: var(--dark-navy);
    margin-bottom: 20px;
}

.icon-description {
    width: calc((60vw - 96px) / 2 - 5vw);
}

.general-text {
    color: var(--dim-grey);
    font-size: 15px;
    line-height: 25px;
}

.section2, .section3, .section4 {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin-bottom: 15vh;
}

.left-section-text, .right-section-text {
    width: 35vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-section-image, .left-section-image {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imgs2, #imgs3, #imgs4 {
    border-radius: 50%;
    width: 30vw;
}

#circles2, #circles3, #circles4 {
    width: 30vw;
    height: 30vw;
    position: absolute;
}

#circles2, #circles4 {
    left: 33vw;
}

#circles3 {
    right: 33vw;
}

#arrows2, #arrows3, #arrows4 {
    position: absolute;
}

#arrows2 {
    width: 50vw;
    right: -10vw;
    bottom: 0;
}

#arrows3 {
    width: 22vw;
    left: -10vw;
    top: 0;
}

#arrows4 {
    width: 32vw;
    right: -23vw;
    top: 8vw;
}

@media (min-width: 901px) {
    .tablet-only {
        display: none;
    }
}

@media (min-width: 525px) and (max-width: 900px) {
    .desktop-only {
        display: none;
    }

    .hero.tablet-only {
        height: 70vh;
        justify-content: end;
        gap: 5vh;
    }
    
    .text-hero-tablet-only{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
        text-align: center;
        padding: 0 10vw;
    }

    h1.hero-title {
        padding: 0;
    }

    .hero.tablet-only .design {
        margin-bottom: 5vh;
        height: 20vw;
        width: 100vw;
    }

    #hero-line-design {
        position: absolute;
        left: -15vw;
        width: 60vw;
    }

    #hero-circles-design {
        position: absolute;
        right: -4.5vw;
        width: 30vw;
        bottom: calc(7vw + 5vh - 5vw);
    }

    main {
        margin-top: 0;
    }

    /* .hr-icons {
        position: relative;
    }

    hr, .icons {
        transform: rotate(90deg);
    }

    .hr-icons hr {
        position: absolute;
        left: 0;
        top: 0;
    } */

    .section1.tablet-only {
        display: flex;
        justify-content: space-between;
        padding: 0 10vw;
        position: relative;
        height: max-content;
    }

    .hr-icons-tablet {
        width: 96px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* position: relative; */
    }

    .hr-tablet {
        display: block;
        width: 16px;
        height: calc(100% - 160px);
        background-color: var(--light-grey);
        position: absolute;
        left: calc(40px + 10vw);
        top: 0;
    }

    .icons-tablet {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        padding-top: 10vh;
        padding-bottom: calc(200px - 96px);
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-top: 10vh;
        width: 50vw;
    }

    .icon-description {
        width: 100%;
        height: 200px;
    }

    .section2.tablet-only {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vh;
        padding: 0 10vw;
        gap: 5vh;
    }

    .top-section {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #top-imgs2 {
        border-radius: 50%;
        width: 60vw;
    }

    #top-circles2 {
        width: 60vw;
        position: absolute;
        top: 0;
        right: -65vw;
    }

    #top-arrows2 {
        width: 100vw;
        position: absolute;
        /* left: 10vw; */
        left: -15vw;
        bottom: -5vw;
    }

    .bottom-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vh;
    }
}