* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

.hero {
    display: flex;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-image: url('./assets/images/home-hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    position: relative;
}

h1 {
    width: 100%;
    padding-left: 15%;
}

.hero-title {
    color: white;
}

.hero-design-wrapper {
    width: 100%;
    height: max-content;
}

.hero-design {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: calc(14vw + 50px); */
}

.hero-design .first {
    width: 15%;
    height: 100%;
    position: relative;
}

.hero-design .first img {
    width: 100%;
    position: absolute;
    top: 30px;
}

.hero-design .second {
    display: flex;
    width: 30%;
    height: max-content;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

.hero-design .second .description {
    font-size: 15px;
    line-height: 25px;
    width: 100%;
    color: white;
}

.hero-design .second .get-scootin {
    top: 50px;
}

.hero-design .third {
    width: 35%;
    height: 100%;
    position: relative;
}

.hero-design .third img {
    width: 100%;
    position: absolute;
    top: 30px;
}

.hero-design .fourth {
    width: 15%;
    height: 100%;
    position: relative;
}

.hero-design .fourth img {
    width: 100%;
    position: absolute;
    top: calc(30px + 6.5vw);
    left: 15%;
}

.hero-design .get-scootin:hover {
    background-color: transparent;
}

main {
    margin-top: 15vh;
    width: 100%;
}

.section1 {
    width: 100%;
}

.hr-icons {
    width: 70%;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

hr {
    border: 8px solid var(--light-grey);
    width: 100%;
}

.hr-icons .icons {
    position: absolute;
    padding-left: 10vw;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text {
    width: 100%;
    padding: 0 10vw;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15vh;
    gap: 5vw;
}

.icon-title {
    color: var(--dark-navy);
    margin-bottom: 20px;
}

.icon-description {
    width: calc((60vw - 96px) / 2 - 5vw);
}

.general-text {
    color: var(--dim-grey);
    font-size: 15px;
    line-height: 25px;
}

.section2 {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    margin-bottom: 15vh;
}

.left-section-text {
    width: 35vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right-section-image {
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imgs2 {
    border-radius: 50%;
    width: 30vw;
}

#circles2 {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 35vw;
}

#arrows2 {
    position: absolute;
    right: -10vw;
    bottom: 0;
    width: 50vw;
}