@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:wght@400;700&display=swap');


:root {
    --yellow: #FCB72B;
    --dark-navy: #495567;
    --dim-grey: #939CAA;
    --light-grey: #E5ECF4;
    --snow: #F2F5F9;
    --light-yellow: #FFF4DF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: var(--dark-navy);
}

h1 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14px;
}

h3 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.79px;
}

h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07px;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100%;
    height: 10vh;
    padding: 0 10vw;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.nav-left {
    display: flex;
    width: min-content;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-left img {
    margin-right: 30px;
}

.nav-left a {
    text-decoration: none;
    color: var(--dim-grey);
}

.nav-left a:hover {
    color: var(--yellow);
}

.get-scootin, #learn-more {
    text-decoration: none;
    display: flex;
    width: 180px;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
}

.get-scootin:hover, #learn-more:hover {
    background-color: #ffffff;
    color: var(--yellow);
    border: 2.5px solid var(--yellow);
}

footer {
    width: 100%;
    height: 40vh;
    background-color: red;
}

.footer-up {
    background-color: var(--dark-navy);
    position: relative;
    width: 100%;
    height: 30vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-up h2 {
    color: white;
}

#semi-circles {
    width: 100%;
    position: absolute;
    right: -12%;
    bottom: 0;
}

footer nav{
    background-color: #333a44;
}

footer nav #logo {
    filter: brightness(0) invert(1);
}

.apps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-down {
    width: 100%;
    height: 10vh;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-right a:hover {
    filter: brightness(0) invert(1);
}

@media (min-width: 525px) and (max-width: 900px) {
    header nav {
        padding: 0 5vw;
    }

    .get-scootin, #learn-more {
        width: 120px;
        height: 50px;
    }

    .nav-left img {
        width: 100px;
        margin-right: 15px;
    }

    .nav-left {
        display: flex;
        width: 50vw;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;
    }
}